.results-list {
  width: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px #ddb;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: scroll;
}
